# Django secret key (замени на свой реальный ключ)
SECRET_KEY=django-insecure-your-secret-key-here
# Debug mode (True для разработки, False для продакшена)
DEBUG=True

# Настройки подключения к PostgreSQL
NAME=mydatabase
USER=mydatabaseuser
PASSWORD=mypassword
HOST=db
PORT=5432

POSTGRES_DB=mydatabase
POSTGRES_USER=mydatabaseuser
POSTGRES_PASSWORD=mypassword

STRIPE_SECRET_KEY=

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# отправку писем через внешние сервисы (Gmail, Yandex, SMTP-серверы хостинга):
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

# для проверки. все письма будут выводиться прямо в консоль
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False
EMAIL_HOST_USER=your_email@yandex.ru
EMAIL_HOST_PASSWORD=пароль_приложения_из_Яндекса
